alumnos/models.py
static/js/bootstrap.js
static/js/bootstrap.min.js
db.sqlite3
alumnos/__pycache__/admin.cpython-310.pyc
alumnos/__pycache__/models.cpython-310.pyc
alumnos/migrations/0003_auto_20220824_1453.py
alumnos/migrations/__pycache__/0003_auto_20220824_1453.cpython-310.pyc
mysite/__pycache__/settings.cpython-310.pyc
static/css/bootstrap-theme.css
static/css/bootstrap-theme.css.map
static/css/bootstrap-theme.min.css
static/css/bootstrap-theme.min.css.map
static/css/bootstrap.css
static/css/bootstrap.css.map
static/css/bootstrap.min.css
static/css/bootstrap.min.css.map
static/js/npm.js
alumnos/__pycache__/admin.cpython-310.pyc
alumnos/__pycache__/models.cpython-310.pyc
alumnos/__pycache__/urls.cpython-310.pyc
alumnos/__pycache__/views.cpython-310.pyc
alumnos/migrations/0004_auto_20220830_1131.py
alumnos/migrations/__pycache__/0004_auto_20220830_1131.cpython-310.pyc
alumnos/__pycache__/models.cpython-310.pyc
alumnos/migrations/0005_nota_trimestre.py
alumnos/migrations/0006_auto_20220831_1238.py
alumnos/migrations/__pycache__/0005_nota_trimestre.cpython-310.pyc
alumnos/migrations/__pycache__/0006_auto_20220831_1238.cpython-310.pyc
mysite/__pycache__/urls.cpython-310.pyc
alumnos/__pycache__/models.cpython-310.pyc
alumnos/migrations/0001_initial.py
alumnos/__pycache__/admin.cpython-310.pyc
alumnos/__pycache__/models.cpython-310.pyc
alumnos/migrations/0003_auto_20220906_1404.py
alumnos/migrations/0004_auto_20220906_1527.py
alumnos/migrations/0005_nota_conducta.py
alumnos/migrations/0006_alter_nota_conducta.py
alumnos/migrations/0007_alter_nota_conducta.py
alumnos/migrations/0008_alter_nota_conducta.py
alumnos/migrations/__pycache__/0003_auto_20220906_1404.cpython-310.pyc
alumnos/migrations/__pycache__/0004_auto_20220906_1527.cpython-310.pyc
alumnos/migrations/__pycache__/0005_nota_conducta.cpython-310.pyc
alumnos/migrations/__pycache__/0006_alter_nota_conducta.cpython-310.pyc
alumnos/migrations/__pycache__/0007_alter_nota_conducta.cpython-310.pyc
alumnos/migrations/__pycache__/0008_alter_nota_conducta.cpython-310.pyc
alumnos/__pycache__/admin.cpython-310.pyc
alumnos/__pycache__/models.cpython-310.pyc
