
<h1>{{ alumno.nombre_completo }}</h1>
<h4>Email: <a href="mailto:{{ alumno.email }}">{{ alumno.email }}</a></h4>
<h4>DNI: {{ alumno.dni }}</h4>
<h2>Inscripto en:</h2>
<ul>
{% for elige in alumno.ficha_set.all %}
    <li>{{ elige.curso }} </li>
    Notas:
    <table border="1">
        <tr align="center">
            <th>Bimestre</th>
            <th>Examen Bimestral</th>
            <th>Concepto</th>
            <th>Ejercitación Oral</th>
            <th>Ejercitación Escrita</th>
            <th>Literatura</th>
            <th>Conducta</th>
            <th>Inasistencias</th>
        </tr>
        
        {% for eval in elige.nota_set.all %}
        <td align="center">{{ eval.txtTrimestre }}</td>
        <td align="center">{{ eval.examen_bimestral }}</td>
        <td align="center">{{ eval.concepto }}</td>
        <td align="center">{{ eval.ejercitacion_oral }}</td>
        <td align="center">{{ eval.ejercitacion_escrita }}</td>
        <td align="center">{{ eval.literatura }}</td>
        <td align="center">{{ eval.txtConducta }}</td>
        <td align="center">{{ eval.inasistencia }}</td>
        </tr>
    {% endfor %}
    </table>
    
{% endfor %}
</ul>
