<h1>{{ alumno.nombre_completo }}</h1>
<h4>Email: <a href="mailto:{{ alumno.email }}">{{ alumno.email }}</a></h4>
<h4>DNI: {{ alumno.dni }}</h4>
<h2>Inscripto en:</h2>
<ul>
{% for elige in alumno.ficha_set.all %}
    <li>{{ elige.curso }} </li>
    Notas:
    <table border="1">
        <tr align="center">
            <th>Primer Trimestre</th>
            <th>Segundo Trimestre</th>
            <th>Tercer Trimestre</th>
        </tr>
        <tr  align="center">
        {% for eval in elige.nota_set.all %}
        <td>{{ eval.primTrim }}</td>
        <td>{{ eval.seguTrim }}</td>
        <td>{{ eval.tercTrim }}</td>
        </tr>
    {% endfor %}
    </table>
    
{% endfor %}
</ul>